In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import StrMethodFormatter
plt.rcParams['figure.figsize'] = [20,12]

In [4]:
df = pd.read_csv('PB_micro_containment_zone.csv')
df

,date,district,containment,population_contained
0,2021-07-25,fazilka,jhottia wali,92
1,2021-07-25,mansa,samao,24
2,2021-07-24,fazilka,jhottia wali,92
3,2021-07-23,fazilka,jhottiawali,92
4,2021-07-22,fazilka,jhottiawali,92
...,...,...,...,...
13388,2022-01-01,ludhiana,"# 514, college road civil linesludhiana",136
13389,2022-01-01,ludhiana,"# bedis farms,pakhowalroad,maharaja ranjit sin...",245
13390,2022-01-01,ludhiana,"village madhepur, sidhwanbet,ludhiana",109
13391,2022-01-01,ludhiana,"# 629-b aggar nagar, ludhiana",242
13392,2022-01-01,jalandhar,new jawahar nagar,82

In [18]:
df1 = df.groupby('date')
df1.get_group('2021-05-11')

,date,district,containment,population_contained
5400,2021-05-11,amritsar,guru nanakpura(kot khalsa),550
5401,2021-05-11,amritsar,judge nagar (esi chheharta),500
5402,2021-05-11,amritsar,nawakot gali no 1 to 4,330
5403,2021-05-11,amritsar,rani ka bagh,100
5404,2021-05-11,amritsar,gumtala,520
...,...,...,...,...
5563,2021-05-11,sangrur,"karkhana no 2, near gaushala, dhuri",200
5564,2021-05-11,sangrur,"narendra colony, malerkotla",350
5565,2021-05-11,barnala,village mehta eara darjia wala mohala,350
5566,2021-05-11,fazilika,amar colony fazilka,124
5567,2021-05-11,fazilika,vairo ke,350

In [19]:
df2 = df.groupby('district')
df2.get_group('ludhiana')

,date,district,containment,population_contained
8,2021-07-14,ludhiana,"vill- kular, hathur, ludhiana",61
9,2021-07-13,ludhiana,"vill- kular, hathur, ludhiana",61
10,2021-07-11,ludhiana,"vill- kular, hathur, ludhiana",61
11,2021-07-10,ludhiana,"vill- kular, hathur, ludhiana",61
12,2021-07-09,ludhiana,"vill- kular, hathur, ludhiana",61
...,...,...,...,...
13387,2022-01-01,ludhiana,"#16 maya nagar, civil linesludhiana",232
13388,2022-01-01,ludhiana,"# 514, college road civil linesludhiana",136
13389,2022-01-01,ludhiana,"# bedis farms,pakhowalroad,maharaja ranjit sin...",245
13390,2022-01-01,ludhiana,"village madhepur, sidhwanbet,ludhiana",109
13391,2022-01-01,ludhiana,"# 629-b aggar nagar, ludhiana",242

In [26]:
df3 = df.groupby(['date','district'])
ludhiana_new = df3.get_group(('2021-05-11','ludhiana'))
ludhiana_new.sum()

date                    2021-05-112021-05-112021-05-112021-05-112021-0...
district                ludhianaludhianaludhianaludhianaludhianaludhia...
containment             �407 basant ave. dugri road, ludhiana32 maya n...
population_contained                                                 9328
dtype: object